<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Admin Panel</h1>
                        <p class="lead">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>