<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="width: 40%;">
                        <h1 class="display-4 text-center">Admin Login</h1>
                        <p class="lead">
                            <form method="post" action="/admin/login">
                                <div class="form-group">
                                    <label for="login_id">Login ID</label>
                                    <input type="text" class="form-control" id="login_id" name="login_id">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" id="login_btn" class="btn btn-success btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>