<% include header.ejs %>
    <div class="container">
        <div class="row" id="register_row">
            <div class="col-md-6" id="cam_col">
                <video autoplay id="camera"></video>
                <button id="take_snapshots" class="btn btn-secondary btn-lg btn-block">Capture</button>
                <canvas id='snapshots'></canvas>
            </div>
            <div class="col-md-6" id="reg_col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Register</h1>
                        <p class="lead">

                            <form method="post" action="/register" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">NAME</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                                    <small class="form-text text-muted">Name as on your Aadhar Card</small>
                                </div>
                                <div class="form-group" hidden>
                                    <input type="hidden" class="form-control" id="avatar" name="avatar" filename="name">
                                </div>
                                <div class="form-group">
                                    <label for="aadhaar">Aadhaar No.</label>
                                    <input type="text" class="form-control" id="aadhaar" name="aadhaar" placeholder="Enter Aadhaar Number">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="constituency">Constituency</label>
                                    </div>
                                    <select class="custom-select" id="constituency" name="constituency">
                                        <option selected>Choose...</option>
                                        <option value="Jabalpur">Jabalpur</option>
                                        <option value="Delhi">Delhi</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="register_btn" class="btn btn-success btn-lg btn-block" disabled>Submit</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>