<% include header.ejs %>

	<script src="dist/2.7.2/Chart.bundle.js"></script>
	<script src="utils.js"></script>
	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>
	<div id="canvas-holder" style="width:100%">
		<canvas id="chart-area"></canvas>
	</div>
	<script>
		var config = {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [
						electionResults.Arvind,
						electionResults.Narendra,
						electionResults.Rahul,
						electionResults.Rajnath,
						electionResults.Piyush,
						electionResults.Smriti
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue,
						window.chartColors.purple
					],
					label: 'Elections'
				}],
				labels: [
					'Arvind Kejrival',
					'Narendra Modi',
					'Rahul Gandhi',
					'Rajnath Singh',
					'Piyush Goyal',
					'Smriti Irani'
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Election Poll Results'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		};

		window.onload = function () {
			var ctx = document.getElementById('chart-area').getContext('2d');
			window.myDoughnut = new Chart(ctx, config);
		};
	</script>
	</body>

	</html>